@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Thin.otf"), format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-ThinItalic.otf"), format("opentype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-ExtraLight.otf"), format("opentype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-ExtraLightItalic.otf"), format("opentype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Light.otf"), format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-LightItalic.otf"), format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Regular.otf"), format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-RegularItalic.otf"), format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Medium.otf"), format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-MediumItalic.otf"), format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-SemiBold.otf"), format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-SemiBoldItalic.otf"), format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Bold.otf"), format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Bold.otf"), format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-ExtraBold.otf"), format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-ExtraBoldItalic.otf"), format("opentype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-Black.otf"), format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Metropolis";
	src: url("../fonts/metropolis/Metropolis-BlackItalic.otf"), format("opentype");
	font-weight: 900;
	font-style: italic;
}
