/*------------------------------------------------------------------
[Table of contents]



1.  Template default CSS
	1.0 Root variables
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
-------------------------------------------------------------------*/

:root {
	--primary-dark: #0E2235;
	--primary: #112A41;
	--primary-light-1: #1B4469;
	--primary-light-2: #265E92;
	--primary-light-3: #3178BA;
	--primary-light-4: #4D92D0;
	--primary-light-5: #76AADB;
	--primary-light-6: #D7E6F4;
	--secondary-dark: #DA261A;
	--secondary: #E84B41;
	--secondary-light: #ED756D;
	--text-dark: #050D14;
	--text-light: #F7FAFD;
	--warning-negative: #EC5D5C;
	--warning-negative-light: #FAD2D1;
	--warning-positive: #7DDDA9;
	--warning-positive-light: #D7F4E4;
	--warning-warning: #EEE16C;
	--warning-warning-light: #FAF6D1;
	--background-foreground: #212121;
	--background-background: #FAFAFA;
	--background-background-dark: #F2F2F2;
	--background-background-dark-2: #CCCCCC;
	--background-button: #E5E5E5;
}

html, body {
	height: 100%;
	font-family: "Metropolis", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
}

h3 {
	font-size: 46px;
	letter-spacing: 0px;
	font-weight: 600;
}

h4 {
	font-size: 33px;
	letter-spacing: 0.25px;
	font-weight: 600;
}

h5 {
	font-size: 26px;
	letter-spacing: 0px;
	font-weight: 400;
}

h6 {
	font-size: 19px;
	letter-spacing: 0.15px;
	font-weight: 500;
}

p {
	font-size: 15px;
	font-family: "Lato", sans-serif;
	color: #727171;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

button {
	font-size: 14px;
	letter-spacing: 1.25px;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul, ol {
	padding: 0;
	margin: 0;
}

.noscroll {
	overflow: hidden;
}

.overlay {
	overflow-wrap: initial;
}

#app {
	margin: 0;
	height: 100%;
	max-width: 100%;
	padding: 0;
}

.app-wrapper {
	height: 100%;
	margin: 0;
}

.side {
	background-color: var(--primary);
	height: 100%;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 10;
	bottom: 0;
	padding: 0;
	width: 400px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.side-text-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.side-text-wrapper h4 {
	color: var(--text-light);
}

.side-text-wrapper h4>span {
	color: var(--secondary);
}

.main {
	padding: 150px 122px 0 122px;
	background-color: var(--background-background);
	margin-left: 400px;
	width: 100%;
}

.wrapper-stepper {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.wrapper-stepper>.bs-stepper-header {
	width: 100%;
	justify-content: space-between;
}

.bs-stepper-circle {
	width: 48px;
	height: 48px;
	align-items: center;
	font-size: 26px;
	letter-spacing: 0;
	font-weight: 400;
	border-radius: 8px;
	background: none;
	border: 1px solid var(--primary-light-6);
	color: var(--text-dark);
}

.bs-stepper-circle i {
	font-size: 18px;
}

.active .bs-stepper-circle {
	color: var(--text-light);
	background: var(--primary);
}

.bs-stepper-label {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.25px;
	margin-left: 9px;
}

.complete .bs-stepper-circle {
	background: var(--primary-light-6);
	color: var(--text-dark);
}

.bs-stepper-loader {
	padding: 20px;
}

.bs-stepper-loader .progress .progress-bar {
	background: var(--secondary);
}

.bs-stepper-content {
	padding-top: 20px;
}

.bs-stepper-content label {
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 400;
	margin-bottom: 0px;
}

.bs-stepper-content input[type="text"], input[type="email"], input[type="password"] {
	background: none;
	border: 1px solid var(--background-background-dark-2);
	border-radius: 8px;
	padding: 20px 15px 20px 15px;
}

.bs-stepper-content input[type="password"] {
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 900;
}

.bs-stepper-group-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40px;
	margin-left: auto;
}

.btn-next-form {
	margin-left: 10px;
}

.btn-next-form {
	border-radius: 150px;
	background: var(--primary-light-1);
	border: none;
	padding: 17px;
	font-size: 14px;
	letter-spacing: 1.25px;
	font-weight: 400;
}

.btn-previous-form {
	background: none;
	color: var(--text-dark);
	border: none;
	font-size: 14px;
	letter-spacing: 0.25px;
	font-weight: 400;
}

.btn-previous-form:hover {
	background: none;
	color: var(--primary-light-1);
	text-decoration: underline;
}

form .select-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -20px;
}

form .select-list .select-list-item {
	float: left;
	-webkit-box-flex: 0;
	/* -ms-flex: 0 0 50%;
    flex: 0 0 50%; */
	width: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

form .select-list .select-list-item .nice-select {
	width: 100%;
	height: 40px;
	border: 1px solid var(--background-background-dark-2);
	/* background: none; */
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 5px;
	background: none;
	/* padding: 20px 15px 20px 15px; */
}

form .select-list .select-list-item .nice-select.open .list {
	width: 100% !important;
}

.bs-stepper-pane .text-aux {
	margin-bottom: 20px;
}

.bs-stepper-pane .text-aux h4 {
	line-height: 32px;
	margin-bottom: 20px;
}

.bs-stepper-pane .text-aux span.aux {
	line-height: 16px;
	font-size: 16px;
	letter-spacing: 0.05px;
}

.bs-stepper-pane .control-collaborator {
	margin-bottom: 20px;
}

.bs-stepper-pane .control-collaborator .control {
	line-height: 16px;
	font-size: 16px;
	letter-spacing: 0.05px;
	color: var(--primary-light-4)
}

.btn-add-collaborator {
	text-align: center;
	background: none;
	padding: 10px;
	border-radius: 4px;
	border: 2px dashed #E5E5E5;
	color: var(--primary-light-4);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0px;
	transition: all 0.1s ease-in-out;
}

.btn-add-collaborator:hover {
	/* background: var(--primary-light-4); */
	border: 2px dashed var(--primary-light-4);
	/* color: #fff; */
}

.btn-add-collaborator i {
	font-size: 11px;
	margin-right: 5px;
}

.btn-remove-collaborator {
	width: 40px;
	height: 40px;
	background: none;
	transition: all 0.1s ease-in-out;
	color: var(--text-dark);
	border: 1px solid var(--background-button);
	border-radius: 8px;
	text-align: center;
}

.btn-remove-collaborator:hover {
	background: var(--background-button);
}

.btn-remove.collaborator i {
	font-size: 9px;
}

.collaborator-list {
	padding: 0;
}